@charset "UTF-8";
@media screen and (max-width:767px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .hidden-pc {
    display: none;
  }
}

body {
  font-size: 12px;
  color: #4A3636;
  background-color: #E9F6F8;
  font-family: "Noto Sans JP", "sans-serif";
  line-height: 160%;
  font-style: normal;
}
@media screen and (min-width:768px) {
  body {
    font-size: 16px;
    line-height: 160%;
  }
}

.image1 {
  width: 21.718px;
}
@media screen and (min-width:768px) {
  .image1 {
    width: 33.776px;
  }
}

.image2 {
  width: 27.881px;
}
@media screen and (min-width:768px) {
  .image2 {
    width: 43.36px;
  }
}

.image3 {
  width: 28.592px;
}
@media screen and (min-width:768px) {
  .image3 {
    width: 44.467px;
  }
}

.image4 {
  width: 29.962px;
}
@media screen and (min-width:768px) {
  .image4 {
    width: 46.597px;
  }
}

.image5 {
  width: 29.526px;
}
@media screen and (min-width:768px) {
  .image5 {
    width: 45.918px;
  }
}

.image6 {
  width: 37.837px;
}
@media screen and (min-width:768px) {
  .image6 {
    width: 58.844px;
  }
}

.image7 {
  width: 38.052px;
}
@media screen and (min-width:768px) {
  .image7 {
    width: 59.178px;
  }
}

.image8 {
  width: 22.765px;
}
@media screen and (min-width:768px) {
  .image8 {
    width: 35.404px;
  }
}

.image9 {
  width: 14.514px;
}
@media screen and (min-width:768px) {
  .image9 {
    width: 22.573px;
  }
}

.image10 {
  width: 28.653px;
}
@media screen and (min-width:768px) {
  .image10 {
    width: 44.561px;
  }
}

.image11 {
  width: 31.107px;
}
@media screen and (min-width:768px) {
  .image11 {
    width: 46.142px;
  }
}

.image12 {
  width: 24.699px;
}
@media screen and (min-width:768px) {
  .image12 {
    width: 36.636px;
  }
}

.image13 {
  width: 32.496px;
}
@media screen and (min-width:768px) {
  .image13 {
    width: 48.203px;
  }
}

.image14 {
  width: 39.78px;
}
@media screen and (min-width:768px) {
  .image14 {
    width: 59.007px;
  }
}

.image15 {
  width: 27.968px;
}
@media screen and (min-width:768px) {
  .image15 {
    width: 41.486px;
  }
}

.image16 {
  width: 32.496px;
}
@media screen and (min-width:768px) {
  .image16 {
    width: 48.203px;
  }
}

.image17 {
  width: 4.014px;
}
@media screen and (min-width:768px) {
  .image17 {
    width: 5.954px;
  }
}

.inner {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width:768px) {
  .inner {
    padding-left: 244px;
    padding-right: 244px;
  }
}

.button1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 22px 8px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #4A3636;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 0px 0px #4A3636;
          box-shadow: 0px 4px 0px 0px #4A3636;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .button1 {
    width: 96px;
    height: 40px;
  }
}

.button2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 22px 8px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #4A3636;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 0px 0px #4A3636;
          box-shadow: 0px 4px 0px 0px #4A3636;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .button2 {
    height: 56px;
    padding: 10px 40px 12px 40px;
    border: 3px solid #4A3636;
    font-size: 20px;
  }
}

.button3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px 12px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 40px;
  border: 3px solid #4A3636;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 0px 0px #4A3636;
          box-shadow: 0px 4px 0px 0px #4A3636;
  font-size: 20px;
  font-weight: 700;
}

.header__inner {
  padding: 15.5px 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width:768px) {
  .header__inner {
    padding: 14px 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.header__logo {
  display: block;
}
.header__logo img {
  width: 210px;
}
@media screen and (min-width:768px) {
  .header__logo img {
    width: 183px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width:768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}

@media screen and (min-width:768px) {
  .header__nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}

@media screen and (min-width:768px) {
  .header__link {
    font-weight: 400;
  }
}

.drawer-icon {
  height: 33px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  width: 32px;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(4) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width:768px) {
  .header__open {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .header__button {
    height: 36px;
  }
}

.drawer-icon__bar {
  position: absolute;
  width: 32px;
  height: 3px;
  border-radius: 6px;
  background: #4A3636;
  top: 2px;
  right: 0;
}
.drawer-icon__bar:nth-of-type(1) {
  right: 6.4px;
  width: 25.6px;
  height: 3px;
}
.drawer-icon__bar:nth-of-type(2) {
  width: 4.8px;
  height: 3px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 14px;
}
.drawer-icon__bar:nth-of-type(4) {
  top: 26px;
}

.drawer-content {
  padding: 82px 114px;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  top: 64px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  z-index: 50;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 40px;
}

.mv {
  background: url(../img/Onomichi-mv-sp.png) no-repeat center center/cover;
  width: 100%;
  margin-bottom: 188px;
}
@media screen and (min-width:768px) {
  .mv {
    background: url(../img/Onomichi-mv-pc.png) no-repeat center center/cover;
    margin-bottom: 96px;
  }
}

.mv__inner {
  position: relative;
}

.mv__content {
  padding-top: 17px;
  padding-bottom: 377px;
}
@media screen and (min-width:768px) {
  .mv__content {
    padding-top: 34px;
    padding-bottom: 463px;
    margin-right: 100px;
    margin-left: 100px;
  }
}

.mv__sub {
  font-family: "Kiwi Maru", serif;
  font-size: 14px;
  padding-inline: 41.5px;
  text-align: center;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width:768px) {
  .mv__sub {
    font-size: 24px;
    font-weight: 500;
  }
}

.mv__lead {
  margin-top: 20px;
}
@media screen and (min-width:768px) {
  .mv__lead {
    margin-top: 23px;
  }
}

.mv__lead1 {
  background-color: #fff;
  width: 335px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* 端と端に寄せて、画像の間に均等な間隔を開ける */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:768px) {
  .mv__lead1 {
    width: 520px;
    height: 82px;
  }
}

.mv__lead2 {
  background-color: #fff;
  margin-top: 12px;
  height: 40px;
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* 端と端に寄せて、画像の間に均等な間隔を開ける */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:768px) {
  .mv__lead2 {
    margin-top: 16px;
    width: 356px;
    height: 60px;
  }
}

.fukidashi {
  position: absolute;
  top: 195px;
  left: 20px;
}
@media screen and (min-width:768px) {
  .fukidashi {
    top: 277px;
    left: 369px;
  }
}
.fukidashi img {
  width: 142px;
  height: 80px;
}
@media screen and (min-width:768px) {
  .fukidashi img {
    width: 244px;
    height: 130px;
  }
}

.present {
  position: absolute;
  top: 188px;
  right: 45px;
}
@media screen and (min-width:768px) {
  .present {
    top: 294px;
    right: 459px;
  }
}
.present img {
  width: 110px;
}
@media screen and (min-width:768px) {
  .present img {
    width: 180px;
  }
}

.SP {
  position: absolute;
  bottom: -145px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (min-width:768px) {
  .SP {
    bottom: -80px;
  }
}
.SP img {
  width: 200px;
}
@media screen and (min-width:768px) {
  .SP img {
    width: 250px;
  }
}

.foods {
  position: absolute;
  bottom: -155px;
  left: 21px;
}
@media screen and (min-width:768px) {
  .foods {
    bottom: -96px;
    left: 337px;
  }
}
.foods img {
  width: 86px;
  height: 141px;
}
@media screen and (min-width:768px) {
  .foods img {
    width: 202px;
    height: 332px;
  }
}

.cat2 {
  position: absolute;
  bottom: -157px;
  right: 29px;
}
@media screen and (min-width:768px) {
  .cat2 {
    bottom: -140px;
    right: 332px;
  }
}
.cat2 img {
  width: 98px;
}
@media screen and (min-width:768px) {
  .cat2 img {
    width: 233px;
  }
}

.cat1 {
  position: absolute;
  bottom: -99px;
  right: 20px;
}
@media screen and (min-width:768px) {
  .cat1 {
    right: 395px;
    bottom: -36px;
  }
}
.cat1 img {
  width: 62px;
}
@media screen and (min-width:768px) {
  .cat1 img {
    width: 170px;
  }
}

.about__img-position {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width:768px) {
  .about__inner {
    padding-top: 80px;
  }
}

.about__content {
  background-color: #fff;
  border-radius: 24px;
  padding: 40px 37px;
  margin-bottom: 176px;
}
@media screen and (min-width:768px) {
  .about__content {
    border-radius: 40px;
    padding: 40px 114px;
    margin-bottom: 258px;
    width: 848px;
    height: 829px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__img1 {
  position: absolute;
  top: 31.87px;
  left: 53px;
}
@media screen and (min-width:768px) {
  .about__img1 {
    top: 120px;
    left: 417px;
  }
}
.about__img1 img {
  width: 88px;
  height: 70px;
}
@media screen and (min-width:768px) {
  .about__img1 img {
    width: 150px;
    height: 120px;
  }
}

.about__img2 {
  position: absolute;
  top: 30px;
  right: 39.78px;
}
@media screen and (min-width:768px) {
  .about__img2 {
    top: 128px;
    right: 417px;
  }
}
.about__img2 img {
  width: 88px;
  height: 70px;
}
@media screen and (min-width:768px) {
  .about__img2 img {
    width: 150px;
    height: 120px;
  }
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width:768px) {
  .about__main {
    gap: 34px;
  }
}

.head-center {
  text-align: center;
}

.about__icon {
  margin-top: 6px;
}

.icon img {
  width: 32px;
}
@media screen and (min-width:768px) {
  .icon img {
    width: 48px;
  }
}

.title {
  margin-top: 14px;
  font-family: "Courgette", "cursive";
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width:768px) {
  .title {
    font-size: 20px;
    line-height: 125%;
  }
}

.sub {
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  position: relative;
  padding-bottom: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}
@media screen and (min-width:768px) {
  .sub {
    margin-top: 8px;
    font-size: 32px;
    padding-bottom: 16px;
  }
}
.sub::before {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 6px;
  content: "";
  background: #FFEE56;
}
@media screen and (min-width:768px) {
  .sub::before {
    height: 8px;
  }
}

.about__text-first {
  text-align: center;
  padding-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
@media screen and (min-width:768px) {
  .about__text-first {
    font-size: 16px;
    letter-spacing: 0.3px;
    padding-bottom: 32px;
  }
}

.about__description {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 157%;
}
@media screen and (min-width:768px) {
  .about__description {
    font-size: 16px;
    line-height: 162%;
  }
}
.about__description + .about__description {
  margin-top: 19px;
}
@media screen and (min-width:768px) {
  .about__description + .about__description {
    margin-top: 26px;
  }
}

.bold {
  font-weight: bold;
}

.about__text-end {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 2px dashed #9ED0E0;
  white-space: nowrap;
}
@media screen and (min-width:768px) {
  .about__text-end {
    padding-bottom: 12px;
    margin-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__button {
  margin: 0 auto;
}

.about__img-left {
  position: absolute;
  top: 395px;
  left: -140px;
  z-index: -1;
}
@media screen and (min-width:768px) {
  .about__img-left {
    top: 158px;
    left: -341px;
  }
}
.about__img-left img {
  width: 200px;
}
@media screen and (min-width:768px) {
  .about__img-left img {
    width: 480px;
  }
}

.about__img-right {
  position: absolute;
  right: -140px;
  top: 273px;
  z-index: -1;
}
@media screen and (min-width:768px) {
  .about__img-right {
    top: 154px;
    right: -285px;
  }
}
.about__img-right img {
  width: 200px;
}
@media screen and (min-width:768px) {
  .about__img-right img {
    width: 480px;
  }
}

.about-arrow {
  position: absolute;
  top: 707px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (min-width:768px) {
  .about-arrow {
    top: 909px;
  }
}
.about-arrow img {
  width: 100px;
}
@media screen and (min-width:768px) {
  .about-arrow img {
    width: 140px;
  }
}

.about-maru2ko {
  position: absolute;
  top: 720px;
  right: 41px;
}
@media screen and (min-width:768px) {
  .about-maru2ko {
    top: 685px;
    right: 189px;
  }
}
.about-maru2ko img {
  width: 29.236px;
}
@media screen and (min-width:768px) {
  .about-maru2ko img {
    width: 61px;
  }
}

.about-marutyari {
  position: absolute;
  top: 748px;
  right: 21px;
}
@media screen and (min-width:768px) {
  .about-marutyari {
    top: 744px;
    right: 150px;
  }
}
.about-marutyari img {
  width: 19px;
}
@media screen and (min-width:768px) {
  .about-marutyari img {
    width: 39.711px;
  }
}

.about-goods {
  position: absolute;
  top: 762px;
  right: 58px;
  z-index: -1;
}
@media screen and (min-width:768px) {
  .about-goods {
    top: 836px;
    right: 74px;
  }
}
.about-goods img {
  width: 133px;
}
@media screen and (min-width:768px) {
  .about-goods img {
    width: 308px;
  }
}

.sakamichi {
  position: absolute;
  top: 708px;
  left: -1px;
  z-index: 0;
}
@media screen and (min-width:768px) {
  .sakamichi {
    top: 400px;
    left: -100px;
  }
}
.sakamichi img {
  width: 140px;
}
@media screen and (min-width:768px) {
  .sakamichi img {
    width: 427px;
  }
}

.about_onomichi {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (min-width:768px) {
  .about_onomichi {
    bottom: -10px;
  }
}
.about_onomichi img {
  width: 335px;
}
@media screen and (min-width:768px) {
  .about_onomichi img {
    width: 890px;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100px;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
@media screen and (min-width:768px) {
  .swiper-wrapper {
    width: 200px;
    gap: 20px;
  }
}

.swiper-slide img {
  width: 100px;
}
@media screen and (min-width:768px) {
  .swiper-slide img {
    width: 200px;
  }
}

.slice {
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: -2;
}
@media screen and (min-width:768px) {
  .slice {
    top: 65px;
  }
}
.slice img {
  width: 250px;
}

.nikukyu {
  position: absolute;
  top: 0px;
  right: 166px;
}
.nikukyu img {
  width: 100px;
}

.line {
  position: absolute;
  right: -564px;
  top: 680px;
  z-index: -1;
}
.line img {
  width: 809px;
}

.line-long {
  position: absolute;
  right: -501px;
  top: 713px;
  z-index: -1;
}
.line-long img {
  width: 809px;
}

.how-to-enter__img-position {
  position: relative;
  overflow: hidden;
}

.how-to-enter__inner {
  padding-top: 60px;
  padding-bottom: 37.67px;
}
@media screen and (min-width:768px) {
  .how-to-enter__inner {
    padding-top: 115px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.how-to-enter__icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.how-to-enter__icon img {
  width: 40px;
}
@media screen and (min-width:768px) {
  .how-to-enter__icon img {
    width: 50px;
  }
}

.how-to-enter__title {
  margin-top: 5px;
}

.how-to-enter__content {
  text-align: center;
}

.how-to-enter__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 32px;
  z-index: 30;
}
@media screen and (min-width:768px) {
  .how-to-enter__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    position: relative;
    gap: 32px;
  }
}

.how-to-enter__step {
  padding-bottom: 16px;
}
@media screen and (min-width:768px) {
  .how-to-enter__step {
    padding-left: 21px;
  }
}
@media screen and (min-width:768px) {
  .how-to-enter__step:nth-of-type(2) {
    margin-top: 69px;
    padding-left: 20px;
  }
}
@media screen and (min-width:768px) {
  .how-to-enter__step:nth-of-type(3) {
    padding-left: 10px;
  }
}

.step__img img {
  width: 196px;
}
@media screen and (min-width:768px) {
  .step__img img {
    width: 280px;
  }
}

.step__main {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .step__main {
    margin-top: 27px;
    font-size: 20px;
  }
}

.step__text {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width:768px) {
  .step__text {
    font-size: 16px;
  }
}

.step__follow {
  margin-top: 18px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: 226px;
  height: 38px;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:768px) {
  .step__follow {
    width: 254px;
    height: 42px;
  }
}

.insta-icon img {
  width: 20px;
}
@media screen and (min-width:768px) {
  .insta-icon img {
    width: 24px;
  }
}

.step__text__follow {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .step__text__follow {
    font-size: 16px;
  }
}

.step__next {
  margin: 0 auto;
}
.step__next img {
  width: 7px;
  height: 34px;
}
@media screen and (min-width:768px) {
  .step__next img {
    width: 24px;
    height: 113px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (min-width:768px) {
  .next1 {
    position: absolute;
    top: 158px;
    left: 440px;
  }
}

@media screen and (min-width:768px) {
  .next2 {
    position: absolute;
    top: 158px;
    right: 485px;
  }
}

.how-to-enter__button {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:768px) {
  .how-to-enter__button {
    margin-top: 34px;
  }
}

.how-to-enter__img {
  z-index: -5;
}

.how-to-enter__map {
  position: absolute;
  top: 64.8px;
  left: 0;
}
@media screen and (min-width:768px) {
  .how-to-enter__map {
    top: 60px;
    left: 36px;
  }
}
.how-to-enter__map img {
  width: 149px;
}
@media screen and (min-width:768px) {
  .how-to-enter__map img {
    width: 460px;
  }
}

.how-to-enter__cat3 {
  position: absolute;
  top: 64.8px;
  right: 24px;
}
@media screen and (min-width:768px) {
  .how-to-enter__cat3 {
    top: 94px;
    right: 231px;
  }
}
.how-to-enter__cat3 img {
  width: 105px;
}
@media screen and (min-width:768px) {
  .how-to-enter__cat3 img {
    width: 238px;
  }
}

.how-to-enter__cat4 {
  position: absolute;
  top: 69.8px;
  right: -30px;
}
@media screen and (min-width:768px) {
  .how-to-enter__cat4 {
    top: 103.97px;
    right: 105px;
  }
}
.how-to-enter__cat4 img {
  width: 94px;
}
@media screen and (min-width:768px) {
  .how-to-enter__cat4 img {
    width: 214px;
  }
}

.nikukyu2 {
  position: absolute;
  top: 137px;
  right: 21px;
}
@media screen and (min-width:768px) {
  .nikukyu2 {
    top: 267px;
    right: 35px;
  }
}
.nikukyu2 img {
  width: 55px;
}
@media screen and (min-width:768px) {
  .nikukyu2 img {
    width: 100px;
  }
}

.nikukyu3 {
  position: absolute;
  top: 614.35px;
  left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (min-width:768px) {
  .nikukyu3 {
    top: 700px;
    left: 36px;
  }
}
.nikukyu3 img {
  width: 55px;
}
@media screen and (min-width:768px) {
  .nikukyu3 img {
    width: 100px;
  }
}

.nikukyu4 {
  position: absolute;
  top: 944.68px;
  right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nikukyu4 img {
  width: 55px;
}

.prizes {
  margin-top: 84px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width:768px) {
  .prizes {
    margin-top: 156px;
  }
}

.triangle1 {
  position: absolute;
  width: 315px;
  height: 86px;
  top: -100px;
  left: 244px;
}

.triangle2 {
  position: absolute;
  width: 315px;
  height: 86px;
  top: -100px;
  right: 244px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.prizes__background {
  background-color: #FFF;
  border-radius: 24px;
  text-align: center;
  position: relative;
}
@media screen and (min-width:768px) {
  .prizes__background {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) {
  .prizes__inner {
    padding-left: 56px;
    padding-right: 56px;
  }
}

.prizes__background__img {
  position: absolute;
  top: -82px; /* 上部に配置 */
  left: 50%; /* 左右中央に配置 */
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); /* left 50%の位置から要素の幅の半分を引いて、中央揃え */
}
@media screen and (min-width:768px) {
  .prizes__background__img {
    top: -160px;
  }
}

.prizes__head-img {
  width: 238px;
  height: 83px;
}
@media screen and (min-width:768px) {
  .prizes__head-img {
    width: 475.3112px;
    height: 193.6571px;
  }
}

.prizes__content {
  position: relative;
}

.prizes__icon img {
  width: 35px;
}
@media screen and (min-width:768px) {
  .prizes__icon img {
    width: 48px;
  }
}

.prizes__title {
  margin-top: 9px;
}

.prizes__head-center {
  top: -62px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}
@media screen and (min-width:768px) {
  .prizes__head-center {
    top: -120px;
  }
}

.prizes__text {
  padding-top: 60px;
}
@media screen and (min-width:768px) {
  .prizes__text {
    padding-top: 65px;
  }
}

.prizes__cards {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 39px 15px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width:768px) {
  .prizes__cards {
    gap: 80px 32px;
    margin-top: 82px;
  }
}

.prizes__card {
  width: 160px;
  position: relative;
}
@media screen and (min-width:768px) {
  .prizes__card {
    width: 440px;
  }
}

@media screen and (min-width:768px) {
  .prizes__card-small {
    width: 280px;
  }
}

.hover-border {
  border: 4px solid #9ED0E0;
}

.prizes__card-number {
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width:768px) {
  .prizes__card-number1 {
    top: -50px;
  }
}

@media screen and (min-width:768px) {
  .prizes__card-number2 {
    top: -40px;
  }
}

.prizes__card-number-img {
  width: 46px;
  height: 47px;
}

@media screen and (min-width:768px) {
  .prizes__card-number-img1 {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width:768px) {
  .prizes__card-number-img2 {
    width: 80px;
    height: 80px;
  }
}

.prizes__main-img img {
  width: 160px;
  border-radius: 8px 8px 0 0;
}

@media screen and (min-width:768px) {
  .prizes__main-img1 img {
    width: 100%;
    height: 340px;
  }
}

@media screen and (min-width:768px) {
  .prizes__main-img2 img {
    width: 100%;
    height: 240px;
  }
}

.prizes__prizes {
  font-size: 7.68px;
  font-weight: 700;
}

.prizes__num {
  font-size: 23.04px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 100%;
}

.prizes__description {
  background-color: #F5F5F5;
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 56px;
}

@media screen and (min-width:768px) {
  .prizes__description1 {
    height: 120px;
  }
}

@media screen and (min-width:768px) {
  .prizes__description2 {
    height: 81px;
  }
}

.prizes__serch-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 37px;
}

@media screen and (min-width:768px) {
  .prizes__serch-img1 {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width:768px) {
  .prizes__serch-img2 {
    width: 64px;
    height: 64px;
  }
}

.prizes__description-text {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
@media screen and (min-width:768px) {
  .prizes__description-text {
    font-size: 16px;
  }
}

@media screen and (min-width:768px) {
  .prizes__description-text1 {
    font-size: 20px;
  }
}

.prizes__button {
  margin-top: 18px;
  margin-bottom: 35px;
}
@media screen and (min-width:768px) {
  .prizes__button {
    margin-top: 33px;
    margin-bottom: 51px;
  }
}

.prizes__modal {
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.prizes__modal__bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}

.modal-card {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 336px;
  height: 480px;
  background-color: #fff;
  border-radius: 24px;
}
@media screen and (min-width:768px) {
  .modal-card {
    width: 480px;
    height: 650px;
  }
}
.modal-card img {
  width: 336px;
  height: 210px;
}
@media screen and (min-width:768px) {
  .modal-card img {
    width: 480px;
    height: 300px;
    border-radius: 24px 24px 0 0;
  }
}

.modal__text {
  margin-top: 39px;
  margin-bottom: 16px;
  padding-inline: 20px;
}
@media screen and (min-width:768px) {
  .modal__text {
    margin-top: 32px;
    padding-inline: 40px;
  }
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .modal__title {
    font-size: 20px;
  }
}

.modal__description {
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
}
@media screen and (min-width:768px) {
  .modal__description {
    margin-top: 24px;
    font-size: 16px;
  }
}

.is-fixed {
  overflow: hidden;
}

.middle__bg {
  position: relative;
  overflow: hidden;
}

.middle__bg-img {
  background: url(../img/bg_pic.png);
  width: 580px;
  height: 260px;
  background-position: 50% -40px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width:768px) {
  .middle__bg-img {
    top: 0;
    width: 1512px;
    height: 640px;
  }
}

.recommend {
  background-color: #67B0C7;
}

.recommend__content {
  overflow: hidden;
}

.recommend__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.star img {
  width: 28px;
}

.recommend__title-text {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 125%;
}

.recommend__cards {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.recommend__card {
  background-color: #FFF;
  width: 240px;
  height: 402px;
  border-radius: 12px;
}
.recommend__card img {
  border-radius: 12px 12px 0 0;
  width: 240px;
}

.recommend__card-text {
  text-align: center;
  padding-top: 16px;
  padding-inline: 24px;
  padding-bottom: 51px;
}

.recommend__card-main {
  font-size: 16px;
  font-weight: 700;
}

.recommend__card-sub {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
}