@use "sass:map";

$main-color:#9ED0E0;
$sub-color1:#67B0C7;
$sub-color2:#CCE1E4;
$sub-color3:#E9F6F8;
$accent-color1:#CE2073;
$accent-color2:#FFEE56;
$monochrome-color1: #4A3636;
$monochrome-color2: #CCCCCC;
$monochrome-color3: #F5F5F5;
$monochrome-color4: #FFFFFF;

$font-family-ja1: "Noto Sans JP","sans-serif";
$font-family-ja2:  "Kiwi Maru", serif;
$font-family-en1: "Courgette", "cursive";
$font-family-en2:"Josefin Sans", sans-serif;


$breakpoints:(
    sp:"screen and (min-width:600px)",
    sp-max:"screen and (max-width:767px)",
    pc: "screen and (min-width:768px)",
    lg:"screen and (min-width:900px)",
    xl:"screen and (min-width:1200px)",
);

@mixin mq($breakpoint: pc) {
    @media #{map.get($breakpoints, $breakpoint)} {
      @content;
    }
  }

  .hidden-sp{
    @include mq(sp-max){
      display: none;
    }
  }
  .hidden-pc{
    @include mq(pc){
      display: none;
    }
  }


  body{
    font-size: 12px;
    color:$monochrome-color1;
    background-color: $sub-color3;
    font-family: $font-family-ja1;
    line-height: 160%;
    font-style: normal;

    @include mq(pc){
        font-size: 16px;
        line-height: 160%;
    }
  }
  .image1{
    width: 21.718px;
    @include mq(pc){
        width: 33.776px;
    }
}
.image2{
    width: 27.881px;
    @include mq(pc){
        width: 43.36px;
    }
}
.image3{
    width: 28.592px;
    @include mq(pc){
        width: 44.467px;
    }
}
.image4{
    width: 29.962px;
    @include mq(pc){
        width: 46.597px;
    }
}
.image5{
    width: 29.526px;
    @include mq(pc){
        width: 45.918px;
    }
}
.image6{
    width: 37.837px;
    @include mq(pc){
        width: 58.844px;
    }
}
.image7{
    width: 38.052px;
    @include mq(pc){
        width: 59.178px;
    }
}
.image8{
    width: 22.765px;
    @include mq(pc){
        width: 35.404px;
    }
}
.image9{
    width: 14.514px;
    @include mq(pc){
        width: 22.573px;
    }
}
.image10{
    width: 28.653px;
    @include mq(pc){
        width: 44.561px;
    }
}

.image11{
    width: 31.107px;
    @include mq(pc){
        width: 46.142px;
    }
}
.image12{
    width: 24.699px;
    @include mq(pc){
        width: 36.636px;
    }
}
.image13{
    width: 32.496px;
    @include mq(pc){
        width: 48.203px;
    }
}
.image14{
    width: 39.78px;
    @include mq(pc){
        width: 59.007px;
    }
}
.image15{
    width: 27.968px;
    @include mq(pc){
        width: 41.486px;
    }
}
.image16{
    width: 32.496px;
    @include mq(pc){
        width: 48.203px;
    }
}
.image17{
    width: 4.014px;
    @include mq(pc){
        width: 5.954px;
    }
}

.inner{
    padding-left: 20px;
    padding-right: 20px;
    @include mq(pc){
        padding-left: 244px;
        padding-right: 244px;
    }
}

  .button1{
    display: inline-flex;
    height: 32px;
    width: fit-content;
    padding: 6px 22px 8px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #4A3636;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px #4A3636;
    font-size: 14px;
    font-weight: 700;
    @include mq(pc){
        width: 96px;
        height: 40px;
    }
  }
  .button2{
    display: inline-flex;
    height: 40px;
    width: fit-content;
    padding: 6px 22px 8px 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #4A3636;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px #4A3636;
    font-size: 16px;
    font-weight: 700;
    @include mq(pc){
        height: 56px;
        padding: 10px 40px 12px 40px;
        border: 3px solid #4A3636;
        font-size: 20px;
    }
  }
  .button3{
    display: inline-flex;
    height: 56px;
    width: fit-content;
    padding: 10px 40px 12px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 3px solid #4A3636;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px #4A3636;
    font-size: 20px;
    font-weight: 700;
  }

.header__inner{
    padding: 15.5px 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(pc){
        padding: 14px 24px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.header__logo{
    display: block;

    img{
        width: 210px;

        @include mq(pc){
            width: 183px;
        }
    }
}

.header__nav{
    display: none;
    @include mq(pc){
        display: flex;
        gap: 16px;
    }
}

.header__nav__item{
    @include mq(pc){
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 12px;
    }
}


.header__link{
    @include mq(pc){
        font-weight: 400;
    }
}

.drawer-icon{
    height: 33px;
    position: relative;

    &.is-checked{
        .drawer-icon__bar{
  
          &:nth-of-type(1){
            display: none;
          }
  
          &:nth-of-type(2){
            width: 32px;
            top: 10px;
            transform: rotate(45deg);
           }

           &:nth-of-type(3){
            display: none;
           }
  
           &:nth-of-type(4){
            top: 10px;
            transform: rotate(-45deg);
           }
        }
      }
}

.header__open{
    @include mq(pc){
        display: none;
    }
}

.header__button{
@include mq(pc){
    height: 36px;
}
}

.drawer-icon__bar{
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 6px;
    background: $monochrome-color1;
    top: 2px;
    right: 0;

    &:nth-of-type(1){
        right: 6.4px;
        width: 25.6px;
        height: 3px;
        
    }

    &:nth-of-type(2){
        width: 4.8px;
        height: 3px;
        
    }

    &:nth-of-type(3){
        top: 14px;
       }
       &:nth-of-type(4){
        top: 26px;
       }

}

.drawer-content{
    padding: 82px 114px;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 64px;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    z-index: 50;

    &.is-checked{
      transform: translateX(0);
    }

}

.drawer__nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

// mvセクション

.mv{
    background: url(../img/Onomichi-mv-sp.png) no-repeat center center / cover;
    width: 100%;
    margin-bottom: 188px;
    @include mq(pc){
        background: url(../img/Onomichi-mv-pc.png) no-repeat center center / cover;
        margin-bottom: 96px;
    }
}

.mv__inner{
    position: relative;
}

.mv__content{
    padding-top: 17px;
    padding-bottom: 377px;
    @include mq(pc){
        padding-top: 34px;
        padding-bottom: 463px;
        margin-right: 100px;
        margin-left: 100px;
    }
}

.mv__sub{
    font-family: $font-family-ja2;
    font-size: 14px;
    padding-inline: 41.5px;
    text-align: center;
    font-weight: 400;
    line-height: 125%;

    @include mq(pc){
        font-size: 24px;
        font-weight: 500;
    }
}

.mv__lead{
    margin-top: 20px;
    @include mq(pc){
        margin-top: 23px;
    }
}

.mv__lead1{
    background-color: #fff;
    width: 335px;
    height: 53px;
    display: flex;
    justify-content: space-between; /* 端と端に寄せて、画像の間に均等な間隔を開ける */
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    
    @include mq(pc){
        width: 520px;
        height: 82px;
    }
}
.mv__lead2{
    background-color: #fff;
    margin-top: 12px;
    height: 40px;
    width: 245px;
    display: flex;
    justify-content: space-between; /* 端と端に寄せて、画像の間に均等な間隔を開ける */
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include mq(pc){
        margin-top: 16px;
        width: 356px;
        height: 60px;
    }
}

.fukidashi{
    position: absolute;
    top: 195px;
    left: 20px;

    @include mq(pc){
        top: 277px;
        left: 369px;
    }
    img{
        width: 142px;
        height: 80px;
        @include mq(pc){
            width: 244px;
            height: 130px;
        }
    }
}

.present{
    position: absolute;
    top: 188px;
    right: 45px;
    @include mq(pc){
        top: 294px;
        right: 459px;
    }
    img{
        width: 110px;
        @include mq(pc){
            width: 180px;
        }
    }
}
.SP{
    position: absolute;
    bottom: -145px;
    left: 50%;
    transform: translate(-50%);
    @include mq(pc){
        bottom: -80px;
    }
    img{
        width: 200px;
        @include mq(pc){
            width: 250px;
        }
    }
}

.foods{
    position: absolute;
    bottom: -155px;
    left: 21px;
    @include mq(pc){
        bottom: -96px;
        left: 337px;
    }
    img{
        width: 86px;
        height: 141px;
        @include mq(pc){
            width: 202px;
            height: 332px;
        }
    }
}

.cat2{
    position: absolute;
    bottom: -157px;
    right: 29px;
    @include mq(pc){
        bottom: -140px;
        right: 332px;
    }
    img{
        width: 98px;
        @include mq(pc){
            width: 233px;
        }
    }
}

.cat1{
    position: absolute;
    bottom: -99px;
    right: 20px;
    @include mq(pc){
        right:395px;
        bottom: -36px;
    }
    img{
        width: 62px;
        @include mq(pc){
            width: 170px;
        }
    }
}

// Aboutセクション
.about{
}

.about__img-position{
    position: relative;
    overflow: hidden;
}

.about__inner{

    @include mq(pc){
        padding-top: 80px;
    }
}

.about__content{
    background-color: #fff;
    border-radius: 24px;
    padding: 40px 37px;
    margin-bottom: 176px;
    @include mq(pc){
        border-radius: 40px;
        padding: 40px 114px;
        margin-bottom: 258px;
        width: 848px;
        height: 829px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about__img1{
    position: absolute;
    top: 31.87px;
    left: 53px;
    @include mq(pc){
        top: 120px;
        left: 417px;
    }
    img{
        width: 88px;
        height: 70px;
        @include mq(pc){
            width: 150px;
            height: 120px;
        }
    }
}

.about__img2{
    position: absolute;
    top: 30px;
    right: 39.78px;
    @include mq(pc){
        top: 128px;
        right: 417px;
    }
    img{
        width: 88px;
        height: 70px;
        @include mq(pc){
            width: 150px;
            height: 120px;
        }
    }
}

.about__main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    @include mq(pc){
        gap: 34px;
    }
}

.head-center{
    text-align: center;
}

.about__icon{
    margin-top: 6px;
}

.icon{
    img{
        width: 32px;
        @include mq(pc){
            width: 48px;
        }
    }
}

.title{
    margin-top: 14px;
    font-family: $font-family-en1;
    font-size: 16px;
    font-weight: 400;
    @include mq(pc){
        font-size: 20px;
        line-height: 125%;
    }
}

.sub {
    font-family: $font-family-ja2;
    font-size: 20px;
    font-weight: 500; // corrected from 500px to 500
    line-height: 125%;
    position: relative;
    padding-bottom: 12px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top: 6px;
    @include mq(pc){
        margin-top: 8px;
        font-size: 32px;
        padding-bottom: 16px;
    }

    &::before {
        bottom: 0; // align with the text
        left: 0; // start from the left edge of the text
        position: absolute;
        width: 100%; // make it the same width as the text
        height: 6px;
        content: '';
        background: $accent-color2;
        @include mq(pc){
            height: 8px;
        }
    }
}

.about__text-first{
    text-align: center;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    @include mq(pc){
        font-size: 16px;
        letter-spacing: 0.3px;
        padding-bottom: 32px;
    }
}

.about__description{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 157%;
    @include mq(pc){
        font-size: 16px;
        line-height: 162%;
    }

    +.about__description{
        margin-top: 19px;
        @include mq(pc){
            margin-top: 26px;
        }
    }
}
.bold{
    font-weight: bold;
}

.about__text-end{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 2px dashed $main-color;
    white-space: nowrap;
    @include mq(pc){
        padding-bottom: 12px;
        margin-top: 15px;
        width: fit-content;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about__button{
    margin: 0 auto;
}


.about__img-left{
    position: absolute;
    top: 395px;
    left: -140px;
    z-index: -1;
    @include mq(pc){
        top: 158px;
        left: -341px;
    }
    img{
        width: 200px;
        @include mq(pc){
            width: 480px;
        }
    }
}

.about__img-right{
    position: absolute;
    right: -140px;
    top: 273px;
    z-index: -1;
    @include mq(pc){
        top:154px;
        right: -285px;
    }
    img{
        width: 200px;
        @include mq(pc){
            width: 480px;
        }
    }
}

.about-arrow{
    position: absolute;
    top: 707px;
    left: 50%;
    transform: translate(-50%);
    @include mq(pc){
        top: 909px;
    }

    img{
        width: 100px;
        @include mq(pc){
            width: 140px;
        }
    }
}

.about-maru2ko{
    position: absolute;
    top: 720px;
    right: 41px;
    @include mq(pc){
        top: 685px;
        right: 189px;
    }

    img{
        width: 29.236px;
        @include mq(pc){
            width: 61px;
        }
    }
}

.about-marutyari{
    position: absolute;
    top: 748px;
    right: 21px;
    @include mq(pc){
        top: 744px;
        right: 150px;
    }
    img{
        width: 19px;
        @include mq(pc){
            width: 39.711px;
        }
    }
}

.about-goods{
    position: absolute;
    top: 762px;
    right: 58px;
    z-index: -1;
    @include mq(pc){
        top: 836px;
        right: 74px;
    }
    img{
        width: 133px;
        @include mq(pc){
            width: 308px;
        }
    }
}

.sakamichi{
    position: absolute;
    top: 708px;
    left: -1px;
    z-index: 0;
    @include mq(pc){
        top: 400px;
        left: -100px;
    }
    img{
        width: 140px;
        @include mq(pc){
            width: 427px;
        }
    }
}

.about_onomichi{
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    @include mq(pc){
        bottom: -10px;
    }
    img{
        width: 335px;
        @include mq(pc){
            width: 890px;
        }
    }
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    gap: 10px;
    width: 100px;
    transition-timing-function: linear;
    @include mq(pc){
        width: 200px;
        gap: 20px;
    }
}

.swiper-slide {

    img{
        width: 100px;
        @include mq(pc){
            width: 200px;
        }
    }
}

.slice{
    position: absolute;
    top: -10px;
    left: -20px;
    z-index: -2;
    @include mq(pc){
        top: 65px;
    }
    img{
        width: 250px;
    }
}
.nikukyu{
    position: absolute;
    top: 0px;
    right: 166px;
    img{
        width: 100px;
    }
}

.line {
    position: absolute;
    right: -564px;
    top: 680px;
    z-index: -1;
    @include mq(pc){
    
    }
    img{
        width: 809px;
    }
}
.line-long {
    position: absolute;
    right: -501px;
    top: 713px;
    z-index: -1;
    img{
        width: 809px;
    }
}

// how-to-enterセクション

.how-to-enter{
}

.how-to-enter__img-position{
    position: relative;
    overflow: hidden;
}

.how-to-enter__inner{
    padding-top: 60px;
    padding-bottom: 37.67px;

    @include mq(pc){
        padding-top: 115px;
        padding-bottom: 120px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.how-to-enter__icon{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    img{
        width: 40px;
        @include mq(pc){
            width: 50px;
        }
    }
}

.how-to-enter__title{
    margin-top: 5px;
}

.how-to-enter__content{
    text-align: center;
}

.how-to-enter__steps{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 32px;
    z-index: 30;
    @include mq(pc){
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        position: relative;
        gap: 32px;
    }
}

.how-to-enter__step{
    padding-bottom: 16px;
    @include mq(pc){
        padding-left: 21px;
    }

    &:nth-of-type(2){
    @include mq(pc){
        margin-top: 69px;
        padding-left: 20px;
    }
}
    &:nth-of-type(3){
        @include mq(pc){
            padding-left: 10px;
        }
}
}

.step__img{
    img{
        width: 196px;
        @include mq(pc){
            width: 280px;
        }
    }
}
.step__main{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
    @include mq(pc){
        margin-top: 27px;
        font-size: 20px;
    }
}

.step__text{
    margin-top: 18px;
    font-size: 12px;
    font-weight: 400;
    @include mq(pc){
        font-size: 16px;
    }
}

.step__follow{
    margin-top: 18px;
    background-color: #fff;
    display: flex;
    gap: 8px;
    width: 226px;
    height: 38px;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    @include mq(pc){
        width: 254px;
        height: 42px;
    }
}

.insta-icon{
    img{
        width: 20px;
        @include mq(pc){
            width: 24px;
        }
    }
}

.step__text__follow{
    font-size: 14px;
    font-weight: 700;
    @include mq(pc){
        font-size: 16px;
    }
}
.step__next{
    margin: 0 auto;
    img{
        width: 7px;
        height: 34px;
        @include mq(pc){
            width: 24px;
            height: 113px;
            transform: rotate(90deg);
        }
    }
}
.next1{
        @include mq(pc){
            position: absolute;
            top: 158px;
            left: 440px;
    }
}
.next2{
    @include mq(pc){
        position: absolute;
        top: 158px;
        right: 485px;

    }
}

.how-to-enter__button{
    margin-left: auto;
    margin-right: auto;
    @include mq(pc){
        margin-top: 34px;
    }
}
.how-to-enter__img{
    z-index: -5;
}
.how-to-enter__map{
    position: absolute;
    top: 64.8px;
    left: 0;
    @include mq(pc){
        top: 60px;
        left: 36px;
    }
    img{
        width: 149px;
        @include mq(pc){
            width: 460px;
        }
    }
}
.how-to-enter__cat3{
    position: absolute;
    top: 64.8px;
    right: 24px;
    @include mq(pc){
        top: 94px;
        right: 231px;
    }
    img{
        width: 105px;
        @include mq(pc){
            width: 238px;
        }
    }
}
.how-to-enter__cat4{
    position: absolute;
    top: 69.8px;
    right: -30px;
    @include mq(pc){
        top: 103.97px;
        right: 105px;
    }
    img{
        width: 94px;
        @include mq(pc){
            width: 214px;
        }
    }
}
.nikukyu2{
    position: absolute;
    top: 137px;
    right: 21px;
    @include mq(pc){
        top: 267px;
        right: 35px;
    }
    img{
        width: 55px;
        @include mq(pc){
            width: 100px;
        }
    }
}
.nikukyu3{
    position: absolute;
    top: 614.35px;
    left: 20px;
    transform: rotate(180deg);
    @include mq(pc){
        top: 700px;
        left: 36px;
    }
    img{
        width: 55px;
        @include mq(pc){
            width: 100px;
        }
    }
}
.nikukyu4{
    position: absolute;
    top: 944.68px;
    right: 20px;
    transform: rotate(180deg);
    img{
        width: 55px;
    }
}

// prizesセクション
.prizes{
    margin-top: 84px;
    position: relative;
    overflow: hidden;
    @include mq(pc){
        margin-top: 156px;
    }
}

.triangle1{
    position: absolute;
    width: 315px;
    height: 86px;
    top: -100px;
    left: 244px;

}
.triangle2{
    position: absolute;
    width: 315px;
    height: 86px;
    top: -100px;
    right: 244px;
    transform: rotateY(180deg);
}

.prizes__background{
    background-color: #FFF;
    border-radius: 24px;
    text-align: center;
    position: relative;
    @include mq(pc){
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

.prizes__inner{
    @include mq(pc){
        padding-left: 56px;
        padding-right: 56px;
    }
}

.prizes__background__img{
    position: absolute;
    top: -82px; /* 上部に配置 */
    left: 50%;  /* 左右中央に配置 */
    transform: translateX(-50%); /* left 50%の位置から要素の幅の半分を引いて、中央揃え */
    @include mq(pc){
        top: -160px;
    }
}

.prizes__head-img{
    width:238px;
    height: 83px;
    @include mq(pc){
        width: calc(365.624px * 1.3);
        height: calc(148.967px * 1.3);
    }
}

.prizes__content{
    position: relative;
}
.prizes__icon{
    img{
        width: 35px;
        @include mq(pc){
            width: 48px;
        }
    }
}
.prizes__title{
    margin-top: 9px;
}
.prizes__head-center{
    top: -62px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    @include mq(pc){
        top: -120px;
    }
}

.prizes__text{
    padding-top: 60px;
    @include mq(pc){
        padding-top: 65px;

    }
}
.prizes__cards{
    margin-top: 46px;
    display: flex;
    flex-wrap: wrap;
    gap: 39px 15px;
    width: 100%;
    justify-content: center;
    @include mq(pc){
        gap: 80px 32px;
        margin-top: 82px;
    }
}
.prizes__card{
    width: 160px;
    position: relative;
        @include mq(pc){
            width: 440px;
        }
}

.prizes__card-small{
    @include mq(pc){
        width: 280px;
    }
}
.hover-border{
    border: 4px solid #9ED0E0;
}
.prizes__card-number{
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
}
.prizes__card-number1{
    @include mq(pc){
        top: -50px;
    }
}
.prizes__card-number2{
    @include mq(pc){
        top: -40px;
    }
}

.prizes__card-number-img{
    width: 46px;
    height: 47px;
}

.prizes__card-number-img1{
    @include mq(pc) {
        width: 100px;
        height: 100px;
      }
}
.prizes__card-number-img2{
    @include mq(pc) {
        width: 80px;
        height: 80px;
      }
}


.prizes__main-img{
    img{
        width: 160px;
        border-radius: 8px 8px 0 0; 
    }
}
.prizes__main-img1{
    img{
        @include mq(pc){
            width: 100%;
            height: 340px;
        }
    }
}
.prizes__main-img2{
    img{
        @include mq(pc){
            width: 100%;
            height: 240px;
        }
    }
}
.prizes__prizes{
    font-size: 7.68px;
    font-weight: 700;
}

.prizes__num{
    font-size: 23.04px;
    font-family: $font-family-en2;
    font-weight: 700;
    line-height: 100%;
}

.prizes__description{
    background-color: #F5F5F5;
    border-radius: 8px;
    position: relative;
    width: 100%;
    height: 56px;
}
.prizes__description1{
    @include mq(pc){
        height: 120px;
    }
}
.prizes__description2{
    @include mq(pc){
        height: 81px;
    }
}

.prizes__serch-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 37px;
}
.prizes__serch-img1{
    @include mq(pc){
        width: 100px;
        height: 100px;
    }
}
.prizes__serch-img2{
    @include mq(pc){
        width: 64px;
        height: 64px;
    }
}

.prizes__description-text{
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include mq(pc){
        font-size: 16px;
    }
}
.prizes__description-text1{
    @include mq(pc){
        font-size: 20px;
    }
}

.prizes__button{
    margin-top: 18px;
    margin-bottom: 35px;

    @include mq(pc){
        margin-top: 33px;
        margin-bottom: 51px;
    }
}

.prizes__modal{
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; 
}
.prizes__modal__bg{
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
}
.modal-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 336px;
    height: 480px;
    background-color: #fff;
    border-radius: 24px;
    @include mq(pc){
        width: 480px;
        height: 650px;
    }

    img{
        width: 336px;
        height: 210px;
        @include mq(pc){
            width: 480px;
            height: 300px;
            border-radius: 24px 24px 0 0; 
        }
    }
}
.modal__text{
    margin-top: 39px;
    margin-bottom: 16px;
    padding-inline: 20px;
    @include mq(pc){
        margin-top: 32px;
        padding-inline: 40px;
    }
}

.modal__title{
    font-size: 16px;
    font-weight: 700;
    @include mq(pc){
        font-size: 20px;
    }
}
.modal__description{
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
    @include mq(pc){
        margin-top: 24px;
        font-size: 16px;
    }
}

.is-fixed{
    overflow: hidden;
}

.middle__bg{
    position: relative;
    overflow: hidden;
}

.middle__bg-img {
    background: url(../img/bg_pic.png);
    width: 580px;
    height: 260px;
    background-position: 50% -40px;
    background-repeat: no-repeat;
    object-fit: cover;
    
    @include mq(pc) {
        top: 0;
        width: 1512px;
        height: 640px;
    }
}
// おすすめセクション
.recommend{
    background-color: #67B0C7;
}
.recommend__content{
    overflow: hidden;
}
.recommend__title{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.star{
    img{
        width: 28px;
    }
}
.recommend__title-text{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 125%; 
    }

.recommend__cards{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}
.recommend__card{
    background-color: #FFF;
    width: 240px;
    height: 402px;
    border-radius: 12px;
    img{
        border-radius: 12px 12px 0 0;
        width: 240px;
    }
}

.recommend__card-text{
    text-align: center;
    padding-top: 16px;
    padding-inline: 24px;
    padding-bottom: 51px;
}

.recommend__card-main{
    font-size: 16px;
    font-weight: 700;
}

.recommend__card-sub{
    margin-top: 16px;
    font-size: 12px;
    font-weight: 400;
}

